<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서버시간</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="grey-bg">

    <div class="white-bg">
        <div class="list-box">
          <%= data %>
        </div>
    </div> 
    
</body>
</html>